@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;700&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;700&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500&display=swap");
.call__title, .call__btn {
  font-family: "Roboto";
  font-weight: 500;
}

.title, .testimonials__text {
  font-family: "Roboto Condensed";
  font-weight: 400;
}

.services__item-title, .services__item-link, .project__item-link, .news__item-title, .testimonials__text span, .testimonials__author, .footer .info__title {
  font-family: "Roboto Condensed";
  font-weight: 700;
}

.call__title, .call__btn {
  font-family: "Roboto";
  font-weight: 500;
}

.title, .testimonials__text {
  font-family: "Roboto Condensed";
  font-weight: 400;
}

.services__item-title, .services__item-link, .project__item-link, .news__item-title, .testimonials__text span, .testimonials__author, .footer .info__title {
  font-family: "Roboto Condensed";
  font-weight: 700;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  cursor: pointer;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: "Roboto", "Arial", "sant-serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #9b9b9b;
}

.container {
  padding: 0 20px;
}

@media (min-width: 640px) {
  .container {
    padding: 0 30px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}

.title {
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 28px;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 8px;
  background-color: #284074;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
}

@media (min-width: 640px) {
  .title {
    font-size: 48px;
    line-height: 56px;
  }
  .title::after {
    width: 100px;
  }
}

.header {
  background-color: #284074;
}

.header__inner {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 640px) {
  .header__inner {
    min-height: 100px;
  }
}

.logo__link {
  margin-left: 8px;
}

@media (min-width: 640px) {
  .logo__link {
    margin-left: 14px;
  }
}

@media (min-width: 768px) {
  .logo__link {
    margin-left: 0;
  }
}

.menu__btn {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: #fff;
  border: none;
  position: relative;
}

.menu__btn::after {
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #284074;
  position: absolute;
  top: 15px;
  left: 14px;
  -webkit-box-shadow: 0 4px 0 0 #284074, 0 8px 0 0 #284074;
          box-shadow: 0 4px 0 0 #284074, 0 8px 0 0 #284074;
}

@media (min-width: 1440px) {
  .menu__btn {
    margin-right: 90px;
  }
}

.head {
  background-image: url("../images/bg-slider.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 193px;
}

.top-slider {
  background: rgba(33, 33, 33, 0.5);
}

.top-slider__item {
  color: #fff;
  text-align: center;
  min-height: 193px;
}

.top-slider__title {
  font-family: "Roboto Condensed";
  line-height: 28px;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 36px 0 28px;
  max-width: 243px;
  margin: 0 auto;
  position: relative;
}

.top-slider__title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 8px;
  width: 61px;
  margin: 0 auto;
  background-color: #4a4a4a;
}

.top-slider__text {
  display: none;
}

.top-slider__btn {
  display: none;
}

.top-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.top-slider .slick-dots .slick-active button {
  background-color: transparent;
  border: 1px solid #476e4d;
}

.top-slider .slick-dots button {
  font-size: 0;
  border: none;
  background-color: #284074;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 10px;
}

@media (min-width: 640px) {
  .top-slider__item {
    min-width: 386px;
  }
  .top-slider__title {
    font-size: 60px;
    line-height: 60px;
    padding: 50px 0 15px;
    margin: 0 auto 30px;
    max-width: 520px;
  }
  .top-slider__btn {
    display: block;
    margin: 0 auto 113px;
    font-size: 18px;
    background-color: #284074;
    color: #f9f6e5;
    padding: 16px 45px;
    border: none;
    border-radius: 3px;
  }
  .top-slider .slick-dots {
    bottom: 50px;
  }
  .top-slider .slick-arrow {
    width: 56px;
    height: 56px;
    border: none;
    position: absolute;
    right: 0;
    z-index: 5;
  }
  .top-slider .slick-prev {
    background-color: #284074;
    top: calc(50% - 56px);
  }
  .top-slider .slick-next {
    background-color: #f9f6e5;
    bottom: calc(50% - 56px);
  }
}

@media (min-width: 768px) {
  .top-slider__item {
    min-height: 465px;
  }
  .top-slider__title {
    padding: 87px 0 0;
    margin: 0 auto;
  }
  .top-slider__title::after {
    display: none;
  }
  .top-slider__text {
    padding: 25px 0 32px;
    font-family: "Roboto Condensed";
    line-height: 20px;
    font-size: 18px;
    display: block;
    max-width: 587px;
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .top-slider__item {
    min-height: 618px;
  }
  .top-slider__title {
    padding-top: 101px;
    font-size: 84px;
    line-height: 84px;
    letter-spacing: 2px;
    max-width: 750px;
  }
  .top-slider .slick-dots {
    bottom: 80px;
  }
}

@media (min-width: 1440px) {
  .top-slider__item {
    min-height: 668px;
  }
  .top-slider__title {
    padding-top: 107px;
    font-size: 96px;
    line-height: 96px;
    max-width: 865px;
  }
  .top-slider__text {
    font-size: 24px;
    line-height: 26px;
    max-width: 886px;
  }
  .top-slider .slick-arrow {
    width: 70px;
    height: 70px;
  }
  .top-slider .slick-prev {
    top: calc(50% - 70px);
  }
  .top-slider .slick-next {
    bottom: calc(50% - 70px);
  }
}

.call {
  background-color: #284074;
  padding: 40px 0;
  color: #fff;
  text-align: center;
}

.call__title {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 15px;
}

.call__text {
  margin-bottom: 40px;
}

.call__btn {
  padding: 16px 15px;
  background-color: #f9f6e5;
  color: #284074;
  font-size: 18px;
  border-radius: 3px;
  border: none;
}

@media (min-width: 768px) {
  .call {
    text-align: left;
  }
  .call__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .call__box {
    max-width: 427px;
  }
  .call__text {
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .call__box {
    max-width: 695px;
  }
}

@media (min-width: 1440px) {
  .call__inner {
    padding: 0 80px;
  }
  .call__box {
    max-width: 796px;
  }
}

.services {
  padding: 25px 0 40px;
  text-align: center;
}

.services__title {
  margin-bottom: 47px;
  color: #284074;
}

.services__descr {
  font-size: 20px;
  line-height: 24px;
  color: #4a4a4a;
  margin-bottom: 21px;
}

.services__text {
  color: #797979;
  line-height: 17px;
  font-size: 15px;
  margin-bottom: 40px;
}

.services__item {
  min-height: 310px;
  border: 1px solid #f9f6e5;
  border-bottom: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 18px;
}

.services__item:last-child {
  border-bottom: 1px solid #f9f6e5;
}

.services__item:hover .services__item-link,
.services__item:hover .services__item-text {
  opacity: 1;
  height: auto;
  overflow: visible;
}

.services__item:hover .services__item-img {
  margin-bottom: 14px;
}

.services__item:hover .services__item-title {
  margin-bottom: 30px;
}

.services__item:hover .services__item-inner {
  border: 4px solid #284074;
  margin: 18px 0;
  padding: 25px 20px 5px;
  min-height: 277px;
}

.services__item-inner {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.services__item-img {
  margin-bottom: 30px;
}

.services__item-title {
  line-height: 19px;
  font-size: 16px;
  letter-spacing: 2px;
  color: #4a4a4a;
}

.services__item-link, .services__item-text {
  opacity: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.services__item-text {
  margin-bottom: 17px;
}

.services__item-link {
  letter-spacing: 2px;
  color: #284074;
  text-transform: uppercase;
}

@media (min-width: 640px) {
  .services {
    padding: 24px 0 0;
  }
  .services__title {
    margin-bottom: 20px;
    padding-bottom: 0;
  }
  .services__title::after {
    display: none;
  }
  .services__descr {
    font-size: 24px;
    margin-bottom: 31px;
    padding-bottom: 38px;
    position: relative;
  }
  .services__descr::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 8px;
    background-color: #284074;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .services__text {
    line-height: 24px;
    font-size: 18px;
  }
  .services__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -30px;
  }
  .services__item {
    width: 50%;
  }
  .services__item:nth-child(even) {
    border-left: none;
  }
  .services__item:last-child {
    border-bottom: none;
  }
}

@media (min-width: 768px) {
  .services {
    padding: 50px 0 0;
  }
  .services__title {
    margin-bottom: 30px;
  }
  .services__descr {
    text-align: left;
  }
  .services__descr::after {
    margin-left: 0;
  }
  .services__text {
    margin-bottom: 27px;
    text-align: left;
  }
  .services__items {
    margin: 0 -40px;
  }
  .services__item {
    padding: 0 68px;
    min-height: 334px;
  }
  .services__item:hover {
    padding: 0 18px;
  }
  .services__item:hover .services__item-inner {
    padding: 35px 60px 5px;
    min-height: 288px;
  }
}

@media (min-width: 1024px) {
  .services {
    padding: 52px 0 0;
  }
  .services__title {
    margin-bottom: 60px;
  }
  .services__descr {
    padding-bottom: 46px;
    margin-bottom: 40px;
  }
  .services__text {
    margin-bottom: 32px;
    max-width: 608px;
  }
  .services__item {
    width: 25%;
    padding: 0 17px;
    min-height: 277px;
  }
  .services__item:nth-child(2), .services__item:nth-child(6) {
    border-right: none;
  }
  .services__item:hover {
    padding: 0 17px;
  }
  .services__item:hover .services__item-inner {
    margin: 10px 0;
    padding: 21px 9px 5px;
    min-height: 255px;
  }
}

@media (min-width: 1440px) {
  .services {
    padding: 0;
  }
  .services__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 -70px 0 -30px;
  }
  .services__head {
    min-width: 350px;
  }
  .services__title {
    margin: 90px 0 70px;
    text-align: left;
  }
  .services__descr {
    padding-bottom: 38px;
    margin-bottom: 35px;
  }
  .services__items {
    margin: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .services__item {
    width: 230px;
    padding: 0 17px;
    height: 273px;
  }
  .services__item:hover {
    padding: 0 5px;
  }
  .services__item:hover .services__item-inner {
    margin: 5px 0;
    padding: 10px 3px 5px;
    min-height: 255px;
  }
}

.project {
  text-align: center;
  padding: 20px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#2b4074), to(rgba(43, 64, 116, 0)));
  background: linear-gradient(180deg, #2b4074 0%, rgba(43, 64, 116, 0) 100%);
}

.project__title {
  color: #fff;
  margin-bottom: 40px;
}

.project__title::after {
  background-color: #fff;
}

.project__item-img {
  min-height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  padding: 12px 14px;
}

.project__item-img:hover .project__item-inner {
  opacity: 1;
}

.project__item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  background-color: rgba(249, 246, 229, 0.83);
  min-height: 227px;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.project__item-info, .project__item-search {
  margin: 0 7px;
}

.project__item-link {
  display: block;
  padding: 20px 0;
  line-height: 19px;
  letter-spacing: 2px;
  color: #284074;
}

@media (min-width: 640px) {
  .project {
    padding: 40px 0 20px;
  }
  .project__item-img {
    min-height: 460px;
    padding: 21px 24px;
  }
  .project__item-inner {
    min-height: 417px;
  }
  .project__item-link {
    font-size: 20px;
    line-height: 23px;
  }
}

@media (min-width: 768px) {
  .project {
    padding: 80px 0 60px;
  }
  .project__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project__item-img {
    min-height: 282px;
    width: 317px;
    padding: 12px 14px;
    margin: 0 12px;
  }
  .project__item-inner {
    min-height: 256px;
  }
  .project__item-link {
    padding: 30px 0;
  }
}

@media (min-width: 1440px) {
  .project__item-img {
    width: 268px;
    min-height: 239px;
  }
  .project__item-inner {
    min-height: 217px;
  }
}

.team {
  padding: 20px 0 40px;
  text-align: center;
}

.team__image {
  width: 100%;
  margin-bottom: 40px;
  border-radius: 4px;
}

.team__title {
  color: #4a4a4a;
  margin-bottom: 23px;
}

.team__text {
  margin-bottom: 84px;
  white-space: pre-line;
}

.team__btn {
  border: none;
  background-color: #284074;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 21px 26px;
  color: #f9f6e5;
  font-weight: 500;
}

@media (min-width: 640px) {
  .team {
    padding: 46px 0 53px;
  }
  .team__title {
    margin-bottom: 40px;
  }
  .team__text {
    margin-bottom: 56px;
  }
  .team__btn {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .team {
    padding: 40px 0 48px;
    text-align: left;
  }
  .team__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .team__image {
    margin-bottom: 0;
    width: 240px;
    height: 100%;
    margin-right: 34px;
  }
  .team__title {
    margin-bottom: 7px;
    font-size: 36px;
    line-height: 38px;
    padding-bottom: 12px;
  }
  .team__title::after {
    margin-left: 0;
  }
  .team__text {
    margin-bottom: 30px;
    font-size: 18px;
  }
  .team__btn {
    font-size: 18px;
    margin-left: -71px;
  }
}

@media (min-width: 1024px) {
  .team {
    padding: 80px 0;
  }
  .team__image {
    margin-bottom: 0;
    width: 395px;
    margin-right: 60px;
  }
  .team__title {
    margin: 10px 0 19px;
  }
  .team__text {
    margin-bottom: 12px;
    line-height: 24px;
  }
  .team__btn {
    margin-left: 0;
  }
}

@media (min-width: 1440px) {
  .team {
    padding: 50px 0 110px;
  }
  .team__image {
    width: 470px;
    margin-right: 93px;
  }
  .team__title {
    margin-bottom: 40px;
  }
  .team__text {
    margin-bottom: 40px;
  }
}

.news {
  background-color: #f9f6e5;
  padding: 40px 0;
  text-align: center;
}

.news__title {
  margin-bottom: 40px;
  color: #4a4a4a;
}

.news__items {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (270px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 270px);
  grid-auto-rows: 10px;
}

.news__item-small {
  -ms-grid-row-span: 23;
      grid-row-end: span 23;
}

.news__item-medium {
  -ms-grid-row-span: 36;
      grid-row-end: span 36;
}

.news__item-large {
  -ms-grid-row-span: 46;
      grid-row-end: span 46;
}

.news__item {
  position: relative;
  width: 270px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.news__item:last-child {
  margin-bottom: 0;
}

.news__item:hover {
  border: 10px solid #284074;
}

.news__item:hover .news__item-info {
  display: block;
}

.news__item:hover .news__item-title {
  color: #f9f6e5;
  background-color: #284074;
  margin-bottom: 30px;
  border-radius: 0;
}

.news__item:hover .news__item-img {
  border-radius: 0;
}

.news__item-img {
  border-radius: 4px;
  width: 100%;
  height: 100%;
}

.news__item-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 9px 0 9px 15px;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  text-align: start;
  letter-spacing: 2px;
  color: #4a4a4a;
  font-size: 18px;
  line-height: 21px;
}

.news__item-info {
  position: absolute;
  left: calc(50% - 14px);
  top: calc(50% - 14px);
  display: none;
}

@media (min-width: 640px) {
  .news__title {
    margin-bottom: 60px;
  }
  .news__items {
    grid-column-gap: 30px;
  }
  .news__item {
    margin-bottom: 30px;
  }
  .news__item-small {
    -ms-grid-row-span: 24;
        grid-row-end: span 24;
  }
  .news__item-medium {
    -ms-grid-row-span: 37;
        grid-row-end: span 37;
  }
  .news__item-large {
    -ms-grid-row-span: 47;
        grid-row-end: span 47;
  }
}

.testimonials {
  color: #4a4a4a;
  margin-bottom: 85px;
  text-align: center;
}

.testimonials__title {
  margin: 55px auto 90px;
}

.testimonials__text {
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 20px;
}

.testimonials__text span {
  color: #284074;
}

.testimonials__author {
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 23px;
}

.testimonials__items .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials__items .slick-dots .slick-active button {
  background-color: transparent;
  border: 1px solid #476e4d;
}

.testimonials__items .slick-dots button {
  font-size: 0;
  border: none;
  background-color: #284074;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 10px;
}

@media (min-width: 640px) {
  .testimonials {
    margin-bottom: 91px;
  }
  .testimonials__title {
    margin-bottom: 40px;
  }
  .testimonials__text {
    font-size: 32px;
    line-height: 34px;
    margin-bottom: 40px;
  }
}

@media (min-width: 1024px) {
  .testimonials {
    margin-bottom: 131px;
  }
  .testimonials__title {
    margin-top: 95px;
  }
  .testimonials__text {
    line-height: 38px;
    max-width: 890px;
    margin: 45px auto;
  }
  .testimonials__author {
    margin: 45px 0 80px;
    line-height: 28px;
  }
}

@media (min-width: 1440px) {
  .testimonials {
    margin-bottom: 133px;
  }
  .testimonials__text {
    font-size: 36px;
    line-height: 42px;
  }
  .testimonials__author {
    font-size: 24px;
  }
}

.footer {
  background-color: #284074;
  position: relative;
  color: #fff;
  text-align: center;
}

.footer__inner {
  padding: 85px 0 40px;
}

.footer .logo {
  position: absolute;
  padding: 0 74px 5px;
  background-color: #284074;
  border-radius: 3px;
  left: calc(50% - 115px);
  margin-top: -30px;
}

.footer .logo a {
  margin: 0;
}

.footer .logo img {
  height: 55px;
}

.footer__inner-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 2px;
  margin-bottom: 43px;
}

.footer__networks {
  display: -ms-grid;
  display: grid;
}

.footer__network-link {
  margin-bottom: 15px;
}

.footer__network-link img {
  height: 24px;
}

.footer__network-link:last-child {
  margin-bottom: 0;
}

.footer__info {
  padding: 6px 0 23px;
}

.footer .info__title {
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 2px;
  margin: 40px 0 15px;
}

.footer .info__text {
  margin: 0 auto;
  max-width: 126px;
  line-height: 20px;
}

.footer .info__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 20px;
}

.footer__up-btn {
  width: 100%;
  height: 142px;
  border: none;
  background-color: #f9f6e5;
}

.footer__up-btn div {
  margin-bottom: 20px;
  letter-spacing: 2px;
  color: #4a4a4a;
  line-height: 19px;
}

@media (min-width: 640px) {
  .footer {
    text-align: start;
  }
  .footer__inner {
    padding: 84px 0 130px;
  }
  .footer__inner-text {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 40px;
  }
  .footer__networks {
    margin-bottom: 12px;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer__network-link {
    margin-bottom: 0;
    padding: 18px 0;
    border: 1px solid #7ebf84;
    border-left: none;
  }
  .footer__network-link:last-child {
    border-right: none;
  }
  .footer__info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 0;
  }
  .footer .info__title {
    margin: 28px 0 20px;
  }
  .footer .info__text {
    margin: 0;
  }
  .footer__up-btn {
    height: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 15px;
  }
  .footer__up-btn div {
    margin: 0;
    margin-right: 23px;
  }
}

@media (min-width: 770px) {
  .footer__inner {
    padding: 114px 0 50px;
  }
  .footer__inner-text {
    font-size: 36px;
    line-height: 32px;
  }
  .footer__networks {
    margin-bottom: 30px;
  }
}

@media (min-width: 1024px) {
  .footer__inner {
    padding: 158px 0 95px;
  }
  .footer__inner-text {
    max-width: 751px;
    margin-bottom: 80px;
  }
  .footer__networks {
    margin-bottom: 57px;
  }
  .footer__info {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .footer .info__title {
    margin: 0 0 14px;
  }
}
/*# sourceMappingURL=style.css.map */