$accent: #284074;
$text-color: #4a4a4a;
$bg-color: #f9f6e5;
$default-color: #9b9b9b;

%dosis-300 {
  font-family: "Dosis";
  font-weight: 300;
}

%dosis-400 {
  font-family: "Dosis";
  font-weight: 400;
}

%dosis-500 {
  font-family: "Dosis";
  font-weight: 500;
}

%roboto-500 {
  font-family: "Roboto";
  font-weight: 500;
}

%robotocondensed-400 {
  font-family: "Roboto Condensed";
  font-weight: 400;
}

%robotocondensed-700 {
  font-family: "Roboto Condensed";
  font-weight: 700;
}
